
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* nav CSS style */

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

li {
    display: inline;
    padding: 5px;
    color: #555;
    font-size: 14px;
    margin: 0 5px;
}

li i {
    vertical-align: middle;
}

#sign-in {
    background-color: rgb(66,133,244);
    color: white;
    border-radius: 5%;
    padding: 7px 10px 7px 10px;
} 

/* main CSS style*/


img {
    width: 300px;
}


.main {
    margin-top: -700px;
    text-align: center;
}

.main div {
    padding: 10px 0;
}

input[type=search] {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 150px 10px 150px;

}

button {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}   

/* Footer CSS style */

.footer li{
    padding: 10px 10px;
}


.footer {
    padding-left: 15px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}

.footer > div{
    margin: 10px;
}

.footer-lower {
    display: flex;
    justify-content: space-between;
}

