
/* ================================================ */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

html {

}

/* nav CSS style */

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;


}



.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

ul li {
    display: inline;
    padding: 5px;
    color: black;
}


#sign-in {
    background-color: rgb(66,133,244);
    color: white;
    border-radius: 5%;
    padding: 7px 10px 7px 10px;
}


/* main CSS style*/

img {
    width: 25%;
}

.main {
    margin-top: 125px;

}

.main > div {
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type=search] {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 150px 10px 150px;

}

button {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

/* Footer CSS style */


